.head {
  background-image: url("https://res.cloudinary.com/dbeloved/image/upload/v1560354138/images/S2E_YRe.jpg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  color: white;
  margin-bottom:50px;
}

.title {
  color: white;
  font-size: 35px;
}

.subtitle {
  font-size: 20px
}

.topText {
  text-align: left;
}

.btn {
  background-color: #f62f5e;
  border-radius: 120px;
  border-color: transparent;
}

.btn:hover {
  background-color: #f62f5e;
  border-color: transparent;
}

.bottom {
  background-image: url("https://res.cloudinary.com/dbeloved/image/upload/v1560350093/images/chris-barbalis-1400972-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  color: white;
}

.filter {
  padding: 20px;
  padding-left: 150px;
}

.filHead {
  background: #2e2e2e;
  color: white;
  font-size: 10px bold;
}

.customPanelStyle {
  background: #f7f7f7;
  border-Radius: 4;
  margin-Bottom: 24;
  border: 0;
  overflow: 'hidden';
  text-align: left;
};

.a {
  color: #f62f5e;
}