.flexible {
  display: flex;
  justify-content: space-around;
}

.heading {
  font-size: 25px;
}

.empty {
  font-size: 15px;
  max-width: 30%;
  color: red;
}

.name {
  font-size: 20px;
}

.catalog, .checkout{
  background-color:#F62F5E;
  color: white;
  padding: 10px;
  border-radius: 120px;
}

.checkout{
}

.catalog{
}

.checkout:hover,
.catalog:hover {
  color: white
}

