.navbar {
  font-weight: bold;
  color: white;
  font-size: 30px;
}

.nav{
  font-weight: bold;
  font-size: 17px;
  vertical-align: text-bottom;
  color: white;
  padding-left: 30px;
}

.navItem{
  margin-right: 50px;
  font-size: 15px;
  color: white
}

.shopcart {
  font-size: 35px;
  color: white;
}

.lblCartCount {
  font-size: 12px;
  background: F62F5E;
  color: #fff;
  padding: 3px 17px;
  vertical-align: top;
  margin-left: -10px;
}

.badge {
  padding-left: 5px;
  padding-right: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 100px;
}

.a {
  position: relative;
  right: 15px;
  text-decoration: none;
}

.auth{
  text-decoration: none;
  color: white;
  font-size: 10px bolder;
}
.auth:hover{
  color: #F62F5E;
}

.search {
  width: 100%;
  display: flex;
  position: relative;
  top: 17px;
  left: 80px;
  border-radius: 120px;
}

.searchTerm {
  width: 100%;
  border: 3px solid white;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 120px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid white;
  background: white;
  text-align: center;
  color: #ffffff;
  border-radius: 120px;
  cursor: pointer;
  font-size: 20px;
}

.searchButton:active,
.searchButton:focus{
  outline:none;
}
.icon{
  color: #F62F5E;
}

.wrap {
  width: 30%;
  top: 50%;
  left: 50%;
  margin-left: 10px;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 991px) {
  /* For mobile phones: */
  .wrap {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 380px;
  }
}

@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .wrap {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 330px;
  }
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .wrap {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 280px;
  }
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .wrap {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 250px;
  }
}

@media only screen and (max-width: 610px) {
  /* For mobile phones: */
  .wrap {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 190px;
  }
}

@media only screen and (max-width: 470px) {
  /* For mobile phones: */
  .wrap {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 120px;
  }
}