.header {
  color: #F62F5E;
  font-weight: bold;
  font-size: 30px;
  padding-left: 150px;
}

.navigation{
  font-weight: bold;
  font-size: 17px;
  vertical-align: text-bottom;
  color: #2E2E2E;
  padding-left: 100px;
}

.shopcart {
  font-size: 30px
}
.lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}
.badge {
padding-left: 9px;
padding-right: 9px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}

.bag{
  text-decoration: none;
}